@model ForgotPasswordViewModel

<div>
    <form method="post">
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>

        <button type="submit">Submit</button>
    </form>
</div>